body {
  background-color: #22252c !important;
  color: #eee !important;
}

#portfolio-container {
  height: 100%;
  overflow-y: scroll;
  background-color: #d5d5d5;
  color: #333;
  padding: 25px;
  -webkit-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
}

#title-container {
  margin-bottom:30px;
}

#title-container h1, h2 {
  line-height: 1.4;
  margin: 0 !important;
}

#contact-info li.address:before {
  content: '\ffed';
  margin-right: 0.5em;
}

#contact-info li {
  float: left;
  display: block;
  padding: 0.5em;
}

.media-body h3 {
  font-family: 'Berkshire Swash', cursive;
  color: #333;
}

.thumbnail {
  width: 140px;
  line-height: 140px !important;
  text-align: center;
  border-color: transparent !important;
  -webkit-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.75) !important;
  -moz-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.75) !important;
  box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.75) !important;
  font-family: 'Berkshire Swash', cursive;
  font-size: 110px;
}

.glyphicon {
  margin: 0px 5px 0px 5px;
}

.media {
  border: 1px solid #999;
  border-radius: 5px;
  padding: 10px;
}
