body {
  background-color: #22252c !important;
  color: #eee !important;
}

address {
  margin-bottom: 0 !important;
}

#title {
  float: left;
}

#filter-panel {
  margin-top: 10px;
}

#long-contact {
  display: block;
}

#short-contact {
  display: none;
}

#portfolio-container {
  height: 100%;
  overflow-y: scroll;
  background-color: #d5d5d5;
  color: #333;
  padding: 25px;
  -webkit-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
}

#title-container h1, h2 {
  line-height: 1.4;
  margin: 0 !important;
}

#contact-info {
    float: right;
}

.media-body h3 {
  font-family: 'Berkshire Swash', cursive;
  color: #333;
}

.thumbnail {
  width: 140px !important;
  line-height: 140px !important;
  text-align: center;
  border-color: transparent !important;
  -webkit-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.75) !important;
  -moz-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.75) !important;
  box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.75) !important;
  font-family: 'Berkshire Swash', cursive;
  font-size: 110px;
}

@media (min-width: 1024px) {
  #main {
    margin-top: 1em;
  }
}

@media (max-width: 700px) {
  #title-container {
    margin-bottom: 1em;
  }
  #contact-info {
    clear: both;
    float: none;
  }
  #long-contact {
    display: none;
  }
  #short-contact {
    display: block;
  }
  #filter-panel {
    display: none;
  }
  #portfolio-container {
    height: auto;
    overflow-y: visible;
  }
  [id^=twitter-widget] {
    margin: 3px 0px 0px 0px;
  }
  .clear {
    clear: both;
  }
  .thumbnail {
    width: 100px !important;
    font-size: 90px;
  }
  .form-group {
    float: left;
    margin-right: 5px;
  }
  h1 {
    font-size: 2em !important;
  }
  h2 {
    font-size: 1.5em !important;
  }
  h3 {
    font-size: 1.17em !important;
    margin: 3px 0 0 0 !important;
  }
}

.glyphicon {
  margin: 0px 5px 0px 5px;
}

.media {
  border: 1px solid #999;
  border-radius: 5px;
  padding: 10px;
}
